<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">

<header id="intro" style="display: block;">
  <article class="fullheight" style="height: 650px;">
    <div class="hgroup">
      <h1>Brooklyn Tri Club <br/> Bike Box Reservation</h1>
      <h2>Book yours now</h2>
      <p><a href="/#welcome"><img src="src/app/images/arrow.png" alt="down arrow"></a></p>
    </div>
  </article>

  <div class="scrollmagic-pin-spacer"
       style="display: block; top: auto; left: auto; bottom: auto; right: auto; position: relative; margin: 0 auto auto; box-sizing: content-box; width: 100%; min-height: 44px; height: auto; padding-top: 0; padding-bottom: 0;">
    <nav id="nav" style="position: relative; top: 0; left: 0; bottom: auto; right: auto; width: 100%;">
      <div class="navbar">
        <div class="brand"><a href="/#welcome">BTC <span>Bike Box</span></a></div>
      </div><!-- navbar -->
    </nav>
  </div>
</header>
<main id="wrapper">
  <div class="scene" id="welcome">
    <article class="content">
      <div class="row">
      	<div class="col-12">
	      <div class="gallery">
	      	<img src="src/app/images/small-bike-box.png" alt="Intro Gallery Room Sample Pictures">
	        <img src="src/app/images/small-bike-box.png" alt="Intro Gallery Pool Sample Pictures">
	      </div>
	      <h1>Book a Bike Box</h1>
	      
	      <form class="form-horizontal" [formGroup]="bikeboxsearch"
	      (ngSubmit)="onSubmit(bikeboxsearch)">
	      
	      <div class="form-group">
	      	<label for="checkout" class="col-4">Check-Out:</label>
	      	<div class="col-8">
	      		<input id="checkout" type="date" class="form-control" formControlName="checkout">
	      	</div>
	      </div>
	      <div class="form-group">
	      	<label for="checkin" class="col-4">Check-In:</label>
	      	<div class="col-8">
	      		<input id="checkin" type="date" class="form-control" formControlName="checkin">
	      	</div>
	      </div>
	      
	      <div class="form-group">
	      	<div class="col-offset-2 col-10">
	      		<button type="submit" class="btn btn-primary btn-lg">Submit</button>
	      	</div>
	      </div>
	      </form>
      	</div>
      </div>
      
      
      
      <div class="row" *ngIf="bikeboxes">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table">
            <h1>Available Bike Boxes</h1>
              <tbody>
              <tr *ngFor="let bikebox of bikeboxes">
                <td>
                  <img src="src/app/images/thule-bike-box.jpeg" alt="Thule Bike Box">
                </td>
                <td>
                  <strong>BikeBox #: {{bikebox.bikeBoxNumber}}</strong>
                </td>
                <td>
                  <button type="submit" class="btn btn-primary" (click)="reserveBikeBox(bikebox.id)">Reserve</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </article>
  </div><!-- welcome -->
  <div class="scene" id="hotelinfo">
    <article class="heading">
      <h1>Essential Info</h1>
    </article>
    <article id="usefulinfo">
      <section id="arrivalinfo">
        <h2>Arrival Information</h2>
        <ul>
          <li><strong>Check-in:</strong> 3:00 PM</li>
          <li><strong>Check-out:</strong> 11:00 AM</li>
          <li><strong>Parking:</strong> Self-parking in the underground garage is ￡15 per day and valet-parking is ￡50
            per day.
          </li>
          <li><strong>Airport Shuttle:</strong> Our complimentary airport shuttles leave every hour on the hour, and
            make trips to Heathrow and Gatwick airports.
          </li>
          <li><strong>Trains:</strong> The nearest Underground station is at Leicester Square.</li>
          <li><strong>Pet Policy:</strong> Pets of all sizes and types are allowed in designated pet rooms, and the
            specified common areas. Service animals are allowed everywhere.
          </li>
        </ul>
      </section>
      <section class="checklist" id="services">
        <h2>Services and Amenities</h2>
        <p>Our services and amenities are designed to make your travel easy, your stay comfortable, and your experience
          one-of-a-kind.</p>
        <ul>
          <li>Indoor pool</li>
          <li>24-hour fitness center</li>
          <li>Massage therapy</li>
          <li>Full service spa</li>
          <li>In-room jacuzzi tubs</li>
          <li>Rooftop café &amp; smoothie bar</li>
          <li>Coffee bar &amp; pastry shop</li>
          <li>Traditional continental breakfast</li>
          <li>24-hour concierge service</li>
          <li>Business center</li>
          <li>Complimentary wireless service</li>
          <li>Laundry &amp; dry cleaning service</li>
          <li>Daily paper</li>
          <li>Certified "green" hotel</li>
          <li>Pet-friendly rooms &amp; common areas</li>
        </ul>
      </section>
      <section class="checklist" id="accessibility">
        <h2>Accessibility</h2>
        <p>We're committed to maintaining the same quality of service for every individual. We offer the following
          facilities for those with special needs:</p>
        <ul>
          <li>Grab bars on tub walls</li>
          <li>Shower chairs</li>
          <li>Hand held shower sprayers</li>
          <li>Higher toilets &amp; toilet modifiers</li>
          <li>Lower sink faucet handles</li>
          <li>Wheelchair clearance under sinks &amp; vanity</li>
          <li>Lower racks in closet</li>
          <li>TDD machines</li>
          <li>Telephone light signalers &amp; smoke alarms</li>
          <li>Telephone amplification handsets</li>
          <li>Closed captioned television converters</li>
          <li>Vibrating alarm clocks</li>
          <li>Telephones with volume control</li>
        </ul>
      </section>
    </article>
    <article id="greenprogram">
      <h2>Landon Green Program</h2>
      <p><strong>The Landon Hotel - London</strong> was recently renovated, and we considered the impact on the earth
        the entire way. From green building materials, to solar power, to energy-friendly lighting and appliances
        throughout the hotel - we’re saving energy in every socket, outlet, and switch. We’ve also initiated a recycling
        and composting program that reduces the load to local landfills, while providing valuable raw material for use
        in new products, or in the case of compost, for use in local gardens and landscapes.</p>
    </article>
  </div><!-- hotelinfo -->

  <div class="scene" id="dining">
    <article id="areadining">
      <h1>Dining in the Area</h1>
      <p>The West End is a foodie’s paradise, and the Landon Hotel is in the center of it all. With options for
        traditional English, Italian, Indian, American, Chinese, and French cuisines, all within two blocks of the
        hotel, and a variety of tasty culinary delights from many other countries, within a half-mile radius, the only
        trouble you’ll have is choosing! </p>
    </article>
    <article id="inhotel">
      <section id="rooftopcafe">
        <h2>Rooftop Café</h2>
        <img src="src/app/images/dining_rooftop.jpg" alt="Dining">
        <p>Landon Rooftop Café is the destination for five star dining. Our master chefs are trained to meet special
          dietary needs, and we offer a range of vegetarian/vegan, kosher, gluten, and dairy free selections to
          accommodate our guests. Whether you’re in the mood for our award winning roast beef, fresh select salads,
          appetizing lunch entrees, or delectable desserts, we have you covered.</p>
      </section>

      <section id="smoothiebar">
        <h2>Smoothie Bar</h2>
        <img src="src/app/images/dining_smoothiebar.jpg" alt="Dining">
        <p>The Rooftop Smoothie Bar gives you panoramic views of the city, where you can have one of our specialty
          smoothies while you wait for your table. Our top mixologists are constantly bringing new and unique offerings
          to our smoothie menu. We have a wide range of locally grown, fresh fruit and vegetable choices to make you
          custom blended drinks. We also have seasonal selections that you won’t find anywhere else.</p>
      </section>

      <section id="coffeebar">
        <h2>Breakfast &amp; Coffee Bar</h2>
        <img src="src/app/images/dining_lattes.jpg" alt="Dining">
        <p>Our traditional breakfast and coffee bar, located adjacent to our lounge, are the perfect way to start your
          morning. We offer a wide selection of seasonal fresh fruit, a variety of cereals, croissants, crusty sourdough
          bread, cook-to-order eggs and omelettes, fresh juice, coffee, and teas. Breakfast is served from 7:00 am to
          10:00 am daily. Our coffee bar is open until 6:30 pm daily.</p>
      </section>
    </article><!-- inhotel -->
    <article id="roomservice">
      <h1>Room Service</h1>
      <p>If you’d rather stay in your room and enjoy a quiet evening in, or a relaxing breakfast in bed, room service
        options are available for all of our dining choices.</p>
    </article>
  </div><!-- dining -->

</main>
<footer class="scene">
  <article class="content">
    <div id="socialmedia">
      <ul class="group">
        <li><a href="https://twitter.com/"><img class="icon" src="src/app/images/twitter.png"
                                                alt="icon for twitter"></a></li>
        <li><a href="http://www.facebook.com/"><img class="icon" src="src/app/images/facebook.png"
                                                    alt="icon for facebook"></a></li>
        <li><a href="http://www.youtube.com/"><img class="icon" src="src/app/images/youtube.png" alt="icon for youtube"></a>
        </li>
      </ul>
    </div>
  </article>
</footer>
<script src="src/app/images/script.js"></script>
